<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex flex-column align-items-center justify-content-center my-3" th:href="@{/dashboard}">
    <div class="sidebar-brand-icon">
      <i class="fas fa-tshirt rotate-n-15"></i>
      <div class="sidebar-brand-text mx-3" th:text="${'LMS: '+#authentication.principal.username}"></div>
    </div>

  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" th:href="@{/dashboard}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <!-- <hr class="sidebar-divider"> -->

  <li class="nav-item">
    <a class="nav-link" th:href="@{/employee}">
      <i class="fas fa-fw fa-user-tie"></i>
      <span>Employees</span></a>
  </li>

  <!-- <hr class="sidebar-divider"> -->

  <li class="nav-item">
    <a class="nav-link" th:href="@{/customer}">
      <i class="fas fa-fw fa-users"></i>
      <span>Customers</span></a>
  </li>

  <!-- <hr class="sidebar-divider"> -->

  <li class="nav-item">
    <a class="nav-link" th:href="@{/transaction}">
      <i class="fas fa-fw fa-dollar-sign"></i>
      <span>Order</span></a>
  </li>

  <!-- <hr class="sidebar-divider"> -->

  <li class="nav-item">
    <a class="nav-link" th:href="@{/expenditure}">
      <i class="fas fa-fw fa-share"></i>
      <span>Expenditure</span></a>
  </li>

  <!-- Nav Item - Report Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
       aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-file-pdf"></i>
      <span>Reports Section</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
         data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" th:href="@{/employee/report-filter}">Employee</a>
        <a class="collapse-item" th:href="@{/customer/report-filter}">Customer</a>
        <a class="collapse-item" th:href="@{/transaction/report-filter}">Order</a>
        <a class="collapse-item" th:href="@{/expenditure/report-filter}">Expenditure</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <!-- <hr class="sidebar-divider"> -->

  <!-- Nav Item - Data -->
  <li class="nav-item">
    <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
      <i class="fas fa-power-off icon-nav"></i>
      <span>Logout</span>
    </a>
  </li>

  <!-- Divider -->
  <!-- <hr class="sidebar-divider d-none d-md-block"> -->

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->