<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact Us - My Application</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex justify-content-between">
                <h4 class="my-auto font-weight-bold text-primary">Customer Data</h4>
                <a class="btn btn-success shadow-sm" data-target="#addCustomer" data-toggle="modal" href="#"><i
                        class="fas fa-plus fa-sm text-white-500"></i> Add Customers</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table cellspacing="0" class="table table-bordered table-hover table-striped" id="dataTable"
                           width="100%">
                        <thead>
                        <tr class="text-primary">
                            <th>#</th>
                            <th>ID</th>
                            <th>Customer's Name<sup>(M/F)</sup></th>
                            <th>Address</th>
                            <th>Contact</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:if="${customers.empty}">
                            <td colspan="6"> No Customers Available</td>
                        </tr>
                        <tr th:each="customer, item : ${customers}">
                            <th th:text="${item.index+1}"></th>
                            <td th:text="${customer.customerCode}"></td>
                            <td th:text="${customer.name}"><sup th:text="${customer.gender}"></sup></td>
                            <td th:text="${customer.address}"></td>
                            <td th:text="${customer.phoneNo}"></td>
                            <td class="action-icons">
                                <a data-toggle="modal" href="#"
                                   th:attr="data-target=${'#editCustomer'+customer.customerCode}">
                                    <i class="fas fa-edit text-lg text-info" title="Edit"></i>
                                </a>
                                <a th:href="@{/customer/delete/{id}(id=${customer.customerCode})}">
                                    <i class="fas fa-trash text-lg text-danger" title="Remove"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
    <!-- Modal for adding new data -->
    <div aria-hidden="true" aria-labelledby="formAddCustomer" class="modal fade" data-backdrop="static"
         data-keyboard="false"
         id="addCustomer" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold text-primary mx-3 mt-3" id="formAddCustomerLabel">Customer
                        Data
                        Input</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="user needs-validation mx-3 mb-4" method="post" name="form_add_customer"
                      novalidate th:action="@{/customer}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label text-primary" for="customer-id">ID</label>
                            <input autofocus class="form-control" id="customer-id" name="customerCode"
                                   placeholder="Customer ID"
                                   readonly required type="text" th:value="${code}">
                        </div>
                        <div class="form-group">
                            <label class="control-label text-primary">Customer's Name</label>
                            <input class="form-control" name="name" pattern="[A-Za-z ]{1,50}"
                                   placeholder='Customers Name' required
                                   title="Fill in the customer's name with letters" type="text">
                            <div class="invalid-feedback">
                                Fill in the customer's name with letters! (max. 50 letters)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label text-primary" for="gender">Gender</label>
                            <select class="form-control" id="gender" name="gender" required>
                                <option value="">--Please Select--</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <div class="invalid-feedback">
                                Choose the gender of the customer!
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label text-primary" for="address">Address</label>
                            <input class="form-control" id="address" name="address" placeholder='Address' required
                                   type="text">
                            <div class="invalid-feedback">
                                Enter the customer's address!
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label text-primary" for="phoneNo">Mobile No.</label>
                            <input class="form-control" id="phoneNo" name="phoneNo" pattern="[0-9]{11,15}"
                                   placeholder='Customer Mobile Number' required type="tel">
                            <div class="invalid-feedback">
                                Fill in No. Customer phone!
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer d-flex">
                        <button class="flex-fill btn btn-danger btn-user" data-dismiss="modal" type="button">Cancel
                        </button>
                        <button class="flex-fill btn btn-success btn-user" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal for editing existing data -->
    <th:block th:each="customer : ${customers}">
        <div aria-hidden="true" aria-labelledby="formEditCustomer" class="modal fade" data-backdrop="static"
             data-keyboard="false"
             tabindex="-1" th:id="${'editCustomer'+customer.customerCode}">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bold text-primary mx-3 mt-3" id="formEditCustomerLabel">
                            Change
                            Customer Data</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="user needs-validation mx-3 mb-4" method="put" name="form_edit_customer"
                          novalidate th:action="@{/customer}">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label text-primary" for="customerCode">ID</label>
                                <input autofocus class="form-control" id="customerCode" name="customer_id"
                                       placeholder="Customer ID"
                                       readonly th:value="${customer.customerCode}" type="text">
                            </div>
                            <hr>

                            <div class="form-group">
                                <label class="control-label text-primary">Customer's Name</label>
                                <input class="form-control" name="name" pattern="[A-Za-z ]{1,50}"
                                       placeholder='Customers Name' required
                                       th:value="${customer.name}" title="Fill in the customer's name with letters"
                                       type="text">
                                <div class="invalid-feedback">
                                    Fill in the customer's name with letters! (max. 50 letters)
                                </div>
                            </div>
                            <hr>

                            <div class="form-group">
                                <label class="control-label text-primary" for="sex">Gender</label>
                                <select class="form-control" id="sex" name="gender" required>
                                    <option value="">--Please Select--</option>
                                    <option th:selected="${customer.gender == 'Male'}" value="Male">Male</option>
                                    <option th:selected="${customer.gender == 'Female'}" value="Female">Female</option>
                                </select>
                                <div class="invalid-feedback">
                                    Choose the gender of the customer!
                                </div>
                            </div>
                            <hr>

                            <div class="form-group">
                                <label class="control-label text-primary" for="address_edit">Address</label>
                                <input class="form-control" id='address_edit' name="address" placeholder='Address'
                                       required
                                       th:value="${customer.address}" type="text">
                                <div class="invalid-feedback">
                                    Enter the customer's address!
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label text-primary" for="phone_edit">Mobile No.</label>
                                <input class="form-control" id="phone_edit" name="phoneNo" pattern="[0-9]{11,15}"
                                       placeholder='Mobile No.'
                                       required th:value="${customer.phoneNo}" type="tel">
                                <div class="invalid-feedback">
                                    Fill in No. Customer phone!
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-flex">
                            <button class="flex-fill btn btn-danger btn-user" data-dismiss="modal" type="button">
                                Cancel
                            </button>
                            <button class="flex-fill btn btn-success btn-user" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </th:block>
</div>
<!-- End of Main Content -->
</body>
</html>
            

            