<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact Us - My Application</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex justify-content-between">
                <h4 class="my-auto font-weight-bold text-primary">Employee Data</h4>
                <a class="btn btn-success shadow-sm" data-target="#addEmployee" data-toggle="modal" href="#"><i
                        class="fas fa-plus fa-sm text-white-500"></i> Add Employees</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table cellspacing="0" class="table table-bordered table-hover table-striped" id="dataTable"
                           width="100%">
                        <thead>
                        <tr class="text-primary">
                            <th>#</th>
                            <th>ID</th>
                            <th>Employee <sup>(M/F)</sup></th>
                            <th>Address</th>
                            <th>Contact</th>
                            <th>Salary</th>
                            <th>Join Date</th>
                            <th>End Date</th>
                            <th>Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:if="${employees.empty}">
                            <td colspan="9"> No Employee Available</td>
                        </tr>
                        <tr th:each="employee, item : ${employees}">
                            <th th:text="${item.index+1}"></th>
                            <td th:text="${employee.id}"></td>
                            <td>
                                <span th:text="${employee.name}"></span>
                                <sup th:text="${employee.gender}"></sup>
                            </td>
                            <td th:text="${employee.address}"></td>
                            <td th:text="${employee.phoneNo}"></td>
                            <td th:text="${employee.monthlySalary+'৳'}"></td>
                            <td th:text="${#dates.format(employee.joiningDate, 'dd-MM-yyyy')}"></td>
                            <td th:text="${#dates.format(employee.quitDate, 'dd-MM-yyyy')}"></td>
                            <td class="action-icons">
                                <a data-toggle="modal" href="#" th:attr="data-target=${'#editEmployee'+employee.id}">
                                    <i class="fas fa-edit text-lg text-info" title="Edit"></i>
                                </a>
                                <a th:href="@{/employee/delete/{id}(id=${employee.id})}">
                                    <i class="fas fa-trash text-lg text-danger" title="Remove"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- Modal for adding new data -->
        <div aria-hidden="true" aria-labelledby="formAddEmployee" class="modal fade" data-backdrop="static"
             data-keyboard="false"
             id="addEmployee" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bold text-primary mx-3 mt-3" id="formAddEmployeeLabel">Input
                            Employee
                            data</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="user needs-validation mx-3 mb-4" method="post"
                          name="form_add_employee"
                          novalidate th:action="@{/employee}">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label text-primary">ID</label>
                                <input autofocus class="form-control" name="id" placeholder="ID Employee"
                                       readonly
                                       required type="text" th:value="${code}">
                            </div>

                            <div class="form-group">
                                <label class="control-label text-primary">Employee Name</label>
                                <input class="form-control" name="name" pattern="[A-Za-z ]{1,50}"
                                       placeholder='Employee Name' required
                                       title="Fill in the Employee Name with Letters"
                                       type="text">
                                <div class="invalid-feedback">
                                    Fill in the name of the employee with letters! (max. 50 letters)
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label text-primary">Gender</label>
                                <select class="form-control" name="gender" required>
                                    <option value="">--Please Select--</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <div class="invalid-feedback">
                                    Choose the gender of the employee!
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label text-primary">Address</label>
                                <input class="form-control" name="address" placeholder='Employee Address' required
                                       type="text">
                                <div class="invalid-feedback">
                                    Fill in the employee's address!
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label text-primary">Mobile Number</label>
                                <input class="form-control" name="phoneNo" pattern="[0-9]{11,15}"
                                       placeholder='Employee Mobile Number'
                                       required type="tel">
                                <div class="invalid-feedback">
                                    Fill in No. Employee cell phone!
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label text-primary">Salary per month</label>
                                <input class="form-control" name="monthlySalary" placeholder='Employee Salary per month'
                                       required type="number">
                                <div class="invalid-feedback">
                                    Fill in the employee's monthly salary!
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label text-primary">Join Date</label>
                                <input class="form-control" name="joiningDate" placeholder='Employee Joining Date'
                                       required
                                       type="date">
                                <div class="invalid-feedback">
                                    Fill in the date of joining the employee!
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label text-primary">Stop Date</label>
                                <input class="form-control" name="quitDate" placeholder='Employee ending date'
                                       type="date">
                            </div>
                        </div>
                        <div class="modal-footer d-flex">
                            <button class="flex-fill btn btn-danger btn-user" data-dismiss="modal" type="button">
                                Cancel
                            </button>
                            <button class="flex-fill btn btn-success btn-user" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal for editing existing data -->
        <th:block th:each="employee : ${employees}">

            <div aria-hidden="true" aria-labelledby="formEditEmployee" class="modal fade"
                 data-backdrop="static" data-keyboard="false" th:id="${'editEmployee'+employee.id}"
                 tabindex="-1">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title font-weight-bold text-primary mx-3 mt-3" id="formEditEmployeeLabel">
                                Change
                                Employee data</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="user needs-validation mx-3 mb-4" method="post"
                              name="form_edit_employee"
                              novalidate th:action="@{/employee/edit}">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="control-label text-primary">ID</label>
                                    <input autofocus class="form-control" name="id" placeholder="Employee ID" readonly
                                           th:value="${employee.id}" type="text">
                                </div>

                                <div class="form-group">
                                    <label class="control-label text-primary">Employee Name</label>
                                    <input class="form-control" name="name" pattern="[A-Za-z ]{1,50}"
                                           placeholder='Employee Name' required
                                           th:value="${employee.name}"
                                           title="Fill in the Employee Name with Letters" type="text">
                                    <div class="invalid-feedback">
                                        Fill in the name of the employee with letters! (max. 50 letters)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label text-primary">Gender</label>
                                    <select class="form-control" name="gender" required>
                                        <option value="">--Please Select--</option>
                                        <option value="MALE"
                                                th:selected="${employee.gender == T(com.sohag.laundry_backend.enums.Gender).MALE}">
                                            Male
                                        </option>
                                        <option value="FEMALE"
                                                th:selected="${employee.gender == T(com.sohag.laundry_backend.enums.Gender).FEMALE}">
                                            Female
                                        </option>
                                        <option value="OTHERS"
                                                th:selected="${employee.gender == T(com.sohag.laundry_backend.enums.Gender).OTHERS}">
                                            Others
                                        </option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Choose the gender of the employee!
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label text-primary">Address</label>
                                    <input class="form-control" name="address" placeholder='Employee Address' required
                                           th:value="${employee.address}" type="text">
                                    <div class="invalid-feedback">
                                        Fill in the employee's address!
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label text-primary">Mobile Number</label>
                                    <input class="form-control" name="phoneNo" pattern="[0-9]{11,15}"
                                           placeholder='Employees Mobile Number'
                                           required th:value="${employee.phoneNo}" type="tel">
                                    <div class="invalid-feedback">
                                        Fill in No. Employee cell phone!
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label text-primary">Salary per month</label>
                                    <input class="form-control" name="monthlySalary"
                                           placeholder='Employee Salary per month'
                                           required th:value="${employee.monthlySalary}" type="number">
                                    <div class="invalid-feedback">
                                        Fill in the employee's monthly salary!
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label text-primary">Join Date</label>
                                    <input class="form-control" name="joiningDate" placeholder='Join Date Employees'
                                           required
                                           th:value="${#dates.format(employee.joiningDate, 'yyyy-MM-dd')}" type="date">
                                    <div class="invalid-feedback">
                                        Fill in the date of joining the employee!
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label text-primary">Stop Date</label>
                                    <input class="form-control" name="quitDate" placeholder='Employee Stop Date'
                                           th:value="${employee.quitDate}" type="date">
                                </div>
                            </div>
                            <div class="modal-footer d-flex">
                                <button class="flex-fill btn btn-danger btn-user" data-dismiss="modal" type="button">
                                    Cancel
                                </button>
                                <button class="flex-fill btn btn-success btn-user" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
</body>
</html>