<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact Us - My Application</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex justify-content-between">
                <h4 class="my-auto font-weight-bold text-primary">Expenditure Data</h4>
                <div class="d-flex">
                    <a class="mr-2 btn btn-warning shadow-sm" th:href="@{/expenditure/salary}"><i
                            class="fas fa-wallet fa-sm text-white-500"></i> Pay Employee Salaries</a>
                    <a class="btn btn-success shadow-sm" data-target="#addExpenditure" data-toggle="modal" href="#"><i
                            class="fas fa-plus fa-sm text-white-500"></i> Add Expenditure</a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table cellspacing="0" class="table table-bordered table-hover table-striped" id="dataTable"
                           width="100%">
                        <thead>
                        <tr class="text-primary">
                            <th>#</th>
                            <th>Expenditure ID</th>
                            <th>Details</th>
                            <th>Total</th>
                            <th>Date</th>
                            <th>Employee</th>
                            <th class="actions">Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:if="${expenditures.empty}">
                            <td colspan="6"> No Expenditure Available</td>
                        </tr>
                        <tr th:each="expenditure, item : ${expenditures}">
                            <th th:text="${item.index+1}"></th>
                            <td th:text="${expenditure.id}"></td>
                            <td th:text="${expenditure.details}"></td>
                            <td th:text="${'$'+expenditure.total}"></td>
                            <td th:text="${expenditure.dateOfIssue}"></td>
                            <td>
                                <span class="row px-3 text-primary text-xs" th:text="${expenditure.employeeId}"></span>
                                <span class="row px-3" th:text="${expenditure.employeeId}"></span>
                            </td>
                            <td class="action-icons">
                                <a data-toggle="modal" href="#"
                                   th:attr="data-target=${'#editExpenditure'+expenditure.id}">
                                    <i class="fas fa-edit text-lg text-info" title="Edit"></i>
                                </a>
                                <a th:href="@{/expenditure/delete/{id}(id=${expenditure.id})}">
                                    <i class="fas fa-trash text-lg text-danger" title="Remove"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Modal for adding new data -->
        <div aria-hidden="true" aria-labelledby="formAddExpenditure" class="modal fade" data-backdrop="static"
             data-keyboard="false"
             id="addExpenditure" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bold text-primary mx-3 mt-3" id="formAddExpenditureLabel">
                            Expenditure
                            Data Input</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="user needs-validation mx-3 mb-4" method="post" name="form_add_expenditure"
                          novalidate th:action="@{/expenditure}">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label text-primary" for="details">Detail</label>
                                <input class="form-control" id="details" name="details"
                                       placeholder='Expenditure Details'
                                       required type="text">
                                <div class="invalid-feedback">
                                    Fill in the expense details!
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label text-primary" for="total">Total</label>
                                <input class="form-control" id="total" name="total" placeholder='Total Exp.' required
                                       type="number">
                                <div class="invalid-feedback">
                                    Fill in the total expenses!
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label text-primary">Employee</label>
                                <select class="form-control" name="employeeId" required>
                                    <option value="">--Please Select--</option>
                                    <th:block th:each="emp : ${employees}" th:inline="text">
                                        <option th:value="${emp.id}">[[${emp.name}]]</option>
                                    </th:block>
                                </select>
                                <div class="invalid-feedback">
                                    Choose employee identity!
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label text-primary" for="dateOfIssue">Expenditure Date</label>
                                <input class="form-control" id="dateOfIssue" name="dateOfIssue"
                                       placeholder='Expenditure Date'
                                       required
                                       type="date">
                                <div class="invalid-feedback">
                                    Enter the exp. date!
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-flex">
                            <button class="flex-fill btn btn-danger btn-user" data-dismiss="modal" type="button">
                                Cancel
                            </button>
                            <button class="flex-fill btn btn-success btn-user" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal for editing existing data -->
        <th:block th:each="expenditure : ${expenditures}">
            <div aria-hidden="true" aria-labelledby="formEditExpenditure" class="modal fade" data-backdrop="static"
                 data-keyboard="false" th:id="${'editExpenditure'+expenditure.id}" tabindex="-1">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title font-weight-bold text-primary mx-3 mt-3"
                                id="formEditExpenditureLabel">Change
                                Expenditure Data</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="user needs-validation mx-3 mb-4" method="post"
                              name="form_edit_expenditure"
                              novalidate th:action="@{/expenditure/edit}">
                            <div class="modal-body">
                                <div class="form-group d-none">
                                    <label class="control-label text-primary">Expenditure ID</label>
                                    <input class="form-control" name="Expenditure_id" readonly
                                           required th:value="${expenditure.id}" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label text-primary">Detail</label>
                                    <input class="form-control" name="detail" placeholder='Expenditure Details' required
                                           th:value="${expenditure.details}" type="text">
                                    <div class="invalid-feedback">
                                        Fill in the expense details!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label text-primary">Total</label>
                                    <input class="form-control" name="total" placeholder='Total Exp.' required
                                           th:value="${expenditure.total}" type="number">
                                    <div class="invalid-feedback">
                                        Fill in the total expenses!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label text-primary">Employee</label>
                                    <select class="form-control" name="employeeId" required>
                                        <option value="">--Please Select--</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Choose employee identity!
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label text-primary">Expenditure Date</label>
                                    <input class="form-control" name="tgl_Expenditure" placeholder='Expenditure Date'
                                           required
                                           th:value="${expenditure.dateOfIssue}" type="date">
                                    <div class="invalid-feedback">
                                        Enter the exp. date!
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer d-flex">
                                <button class="flex-fill btn btn-danger btn-user" data-dismiss="modal" type="button">
                                    Cancel
                                </button>
                                <button class="flex-fill btn btn-success btn-user" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
</body>
</html>