<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Orders - LMS</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex justify-content-between">
                <h4 class="my-auto font-weight-bold text-primary">Transaction Data</h4>
                <a class="btn btn-success shadow-sm" data-target="#addTransaction" data-toggle="modal" href="#"><i
                        class="fas fa-plus fa-sm text-white-500"></i> Add New Transaction</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="dataTable">
                        <thead>
                        <tr class="text-primary">
                            <th>#</th>
                            <th>Tx. ID</th>
                            <th>Customer</th>
                            <th>Employee</th>
                            <th>Weight</th>
                            <th>Total</th>
                            <th>Order</th>
                            <th>Finished</th>
                            <th class="actions">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="transaction, item : ${transactions}">
                            <th th:text="${item.index+1}"></th>
                            <td th:text="${transaction.id}"></td>
                            <td>
                                <span class="row px-3 text-primary text-xs" th:text="${transaction.employeeId}"></span>
                                <span class="row px-3" th:text="${transaction.employeeName}"></span>
                            </td>
                            <td>
                                <span class="row px-3 text-primary text-xs" th:text="${transaction.customerId}"></span>
                                <span class="row px-3" th:text="${transaction.customerName}"></span>
                            </td>
                            <td th:text="${transaction.weight}"></td>
                            <td th:if="${transaction.total == 0}">
                                <span class="badge badge-danger">Not Finished Yet</span>
                            </td>
                            <td th:if="${transaction.total != 0}" th:text="${transaction.total}">
                            </td>
                            <td th:text="${transaction.dateOfOrder}"></td>
                            <td th:text="${transaction.dateOfDelivery}"></td>
                            <td class="action-icons">
                                <a class="btn btn-sm rounded-lg btn-primary mb-2"
                                   th:href="@{/transaction/print-note/{id}(id=${transaction.id})}"
                                   target="blank"> Note</a><br>

                                <a class="btn btn-sm rounded-lg btn-success mb-2"
                                   th:href="@{/transaction/deliver/{id}(id=${transaction.id})}">Complete</a>
                                <br>
                                <a th:attr="data-target=${'#editTransaction'+transaction.id}" data-toggle="modal"
                                   href="#">
                                    <i class="fas fa-edit text-lg text-info" title="Edit"></i>
                                </a>
                                <a th:href="@{/transaction/delete/{id}(id=${transaction.id})}">
                                    <i class="fas fa-trash text-lg text-danger" title="Remove"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Modal for adding new data -->
        <div aria-hidden="true" aria-labelledby="formAddTransaction" class="modal fade" data-backdrop="static"
             data-keyboard="false"
             id="addTransaction" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bold text-primary mx-3 mt-3" id="formAddTransactionLabel">
                            Input
                            Transaction Data</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:action="@{ransaction/add}" class="user needs-validation mx-3 mb-4"
                          method="post"
                          name="form_add_Transaction" novalidate>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label text-primary" for="customerId">Customer</label>
                                <select class="form-control" id="customerId" name="customerId" required>
                                    <option value="">--Please Select--</option>
                                    <option th:each="customer : ${customers}" th:value="${customer.id}"
                                            th:text="${customer.name}"></option>
                                </select>
                                <div class="invalid-feedback">
                                    Choose a customer identity!
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label text-primary" for="employeeId">Employee</label>
                                <select class="form-control" id="employeeId" name="employeeId" required>
                                    <option value="">--Please Select--</option>
                                    <option th:each="employee : ${employees}" th:value="${employee.id}"
                                            th:text="${employee.name}"></option>
                                </select>
                                <div class="invalid-feedback">
                                    Choose employee identity!
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label text-primary">Weight (kg)</label>
                                <input class="form-control" name="berat" placeholder='Laundry Weight' required
                                       type="number">
                                <div class="invalid-feedback">
                                    Fill-up Laundry Weight!
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label text-primary" for="ttl_order">Order Date</label>
                                <input class="form-control" id="ttl_order" name="totalOrder"
                                       placeholder='Laundry Order Date'
                                       required type="date">
                                <div class="invalid-feedback">
                                    Fill in the date of the laundry order!
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label text-primary" for="totalFinished">Finished Date</label>
                                <input class="form-control" id="totalFinished" name="totalFinished"
                                       placeholder='Finished Date' type="date">
                            </div>
                        </div>
                        <div class="modal-footer d-flex">
                            <button class="flex-fill btn btn-danger btn-user" data-dismiss="modal" type="button">
                                Cancel
                            </button>
                            <button class="flex-fill btn btn-success btn-user" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal for editing existing data -->
        <?php
                $no = 1;
                foreach ($data_Transaction as $Transaction) {
            ?>
        <div aria-hidden="true" aria-labelledby="formEditTransaction" class="modal fade" data-backdrop="static"
             data-keyboard="false" id="editTransaction<?php echo $no ?>" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bold text-primary mx-3 mt-3" id="formEditTransactionLabel">
                            Edit
                            Transaction Data</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:action="@{transaction/edit}" class="user needs-validation mx-3 mb-4"
                          method="post"
                          name="form_edit_transaction" novalidate>
                        <div class="modal-body">
                            <div class="form-group d-none">
                                <label class="control-label text-primary">ID Transactions</label>
                                <input class="form-control" name="transactionId" readonly
                                       required type="text" th:value="${transactionId}">
                            </div>
                            <div class="form-group">
                                <label class="control-label text-primary">Customer</label>
                                <select class="form-control" name="customerId" required>
                                    <option value="">--Please Select--</option>
                                    <option th:each="customer : ${customers}" th:value="${customer.id}"
                                            th:text="${customer.name}"></option>
                                </select>
                                <div class="invalid-feedback">
                                    Choose a customer identity!
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label text-primary">Employee</label>
                                <select class="form-control" name="employeeId" required>
                                    <option value="">--Please Select--</option>
                                    <option th:each="employee : ${employees}" th:value="${employee.id}"
                                            th:text="${employee.name}"></option>
                                </select>
                                <div class="invalid-feedback">
                                    Choose employee identity!
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label text-primary">Weight (kg)</label>
                                <input class="form-control" name="berat" placeholder='Laundry Weight' required
                                       type="number" th:value="${weight}">
                                <div class="invalid-feedback">
                                    Fill-up Laundry Weight!
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label text-primary">Order Date</label>
                                <input class="form-control" name="tgl_order" placeholder='Laundry Order Date'
                                       required type="date" th:value="${dateOfOrder}">
                                <div class="invalid-feedback">
                                    Fill in the date of the laundry order!
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label text-primary">Finished Date</label>
                                <input class="form-control" name="dateOfDelivery" placeholder='Finished Date'
                                       type="date"
                                       th:value="${dateOfDelivery}">
                            </div>
                        </div>
                        <div class="modal-footer d-flex">
                            <button class="flex-fill btn btn-danger btn-user" data-dismiss="modal" type="button">
                                Cancel
                            </button>
                            <button class="flex-fill btn btn-success btn-user" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
</body>
</html>